.signup {
    margin-top: 4.5rem;
    box-sizing: border-box;
    max-width: 600px;

    &__form {
        margin: 0.5rem 1.5rem;
        color: whitesmoke;
    }

    &__login-access {
        font-size: 1.5rem;
        width: 100%;
        border-radius: 0;
    }
}


.login {
    margin-top: 4.5rem;
    box-sizing: border-box;
    max-width: 600px;

    &__form {
        margin: 0.5rem 1.5rem;
        color: whitesmoke;
    }

    &__signup-access {
        font-size: 1.5rem;
        width: 100%;
        border-radius: 0;
    }
}