
.home {
    color: whitesmoke;
    margin: 0;
    font-size: small;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;



    &__header {
        text-align: center;
        margin: 1.5rem;
        font-size: 1.2rem;
        font-weight: 700;
        border-top: white solid 1px;
        border-bottom: white solid 1px;
        padding: 15px;
        max-width: 600px;
    }


    &__article-metrics {
        background-image: url('https://t4.ftcdn.net/jpg/01/79/81/77/240_F_179817756_QzTocli57q9G6a1Oe7kJtoMS5dNMU8cl.jpg');
        height: 400px;
        background-repeat: no-repeat;
        background-size: cover;
        display: flex;
        justify-content: center;
        align-items: center;
    }


    &__article_workout {
        background-image: url('https://www.gannett-cdn.com/-mm-/14d38e3329c6f1f889b4c48cfb975ddc97bd20bb/c=0-0-3495-1975/local/-/media/2018/06/28/USATODAY/USATODAY/636657854872922413-GettyImages-862317986.jpg');
        height: 400px;
        background-repeat: no-repeat;
        background-size: cover;
        display: flex;
        justify-content: center;
        align-items: center;
    }


    &__article-text {
        background-color: rgba(0, 0, 0, 0.45);
        width: 90%;
        max-width: 600px;
        height: 90%;
        padding: 1rem;
        border-radius: 10px;
        font-weight: 450;

        h3 {
            font-size: 1.2rem;
            font-weight: 600;
            font-style: oblique;
        }
        
        p {
            font-size: 1.1rem;
        }
        
        hr {
            background-color: whitesmoke;
            width: 20%;
        }
    }
}