
.FormMetrics {
    color: whitesmoke;
    margin: 2rem
}

.form {
    margin: 0.5rem 1.5rem;
    color: whitesmoke
}

button.btn.btn-info
  {
  font-size: 1.5rem;
  width: 100%;
  border-radius: 0;
}