
.Navbar {
    margin-bottom: 1rem;
}

a {
    color: black;
    font-weight: bold;
}

a:hover {
    color: #17A2B8;
    text-decoration: none;
}

.navbar-image {
    margin: 0;
    padding: 0;
    width: 40px;
    height: 40px;
}