
.Navbar {
    margin-bottom: 110px;
}

a {
    color: whitesmoke;
    font-weight: bold;
}

a:hover {
    color: #007094;
    text-decoration: none;
}

.navbar-image {
    margin: 0;
    padding: 0;
    width: 40px;
    height: 40px;
}

.logo-text {
    margin: 0;
    color: black;
}