
.UserProfile {
    color: whitesmoke;
}

.user-info-buttons {
    margin: 2.5rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    max-width: 600px;
}

.user-info-buttons btn {
    padding: 3rem ;
    font-size: 2rem;
    width: 100%;
}

button.btn.btn-info {
    margin-top: 1rem;
    margin-bottom: 1rem;
}